venv/
.venv/
.python/
.python311/
.tmp/
000.icns
000.ico
呆啵宠物.spec
builddmg.sh
__pycache__/
DyberPet/__pycache__/
DyberPet/DyberSettings/__pycache__/
DyberPet/Dashboard/__pycache__/
data/
dist/
build/
run_DyberPet.exe
run_DyberPet.spec
res/items/GenshinImpact
res/items/StarRail
res/items/Wuthering Waves
**/.DS_Store
.DS_Store
res/items/PunishingGrayRaven
res/items/Pikesou
res/role
